/node_modules
/public/hot
/public/assets/*
/public/storage
/resources/views/spa.blade.php
/storage/*.key
/vendor
/.idea
/public/js/*
/public/css/*
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
